body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome {
    background: url('https://www.vz.lt/api/socialimage/VZ/20201030/ARTICLE/201039962/AR/img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    .welcome-section {
        width: 50%;
        padding: 40px 20px;
        border-radius: 20px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
            color: white;
            margin-bottom: 20px;
        }
        .button {
            box-shadow: 5px 5px 10px black;
            margin: 0 10px;
        }
    }
}

.background {
    background: rgb(0,84,166);
    background: linear-gradient(180deg, rgba(0,84,166,0.7952364803699965) 0%, rgba(130,130,231,0.5424274916059515) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.button {
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 5px 5px 10px #888888;
}
.button:hover {
    transition: 0.5s;
    background: #0054a6;
}

.navbar {
    display: inline-block;
    width: 100%;
    background-color: #0054a6;
    height: 65px;
    font-size: 16px;
    box-shadow: 5px 0px 18px #888888;
    .navbar-content {
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        .left {
            display: flex;
            width: 100%;
            .create {
                display: flex;
            }
            .list {
                display: flex;
            }
            .menu-option {
                margin-right: 20px;
                text-transform: uppercase;
                color: white;
            }
            .menu-option:hover {
                transition: 0.5s;
                color: black;
                border-bottom: 1px solid black;
            }
        }
        .right {
            display: flex;
            #logout-form {
                button {
                    background-color: white;
                    color: black;
                    font-weight: bold;
                    box-shadow: none;
                }
                .button:hover {
                    transition: 0.5s;
                    background-color: black;
                    color: white;
                }
            }
            .language{
                display: flex;
                justify-content: center;
                a {
                    color: white;
                    align-self: center;
                    padding-right: 5px;
                }
                a:hover {
                    transition: 0.5s;
                    color: black;
                }
                .en {
                    border-right: 1px solid #ccc;
                }
                .lt {
                    padding: 0 20px 0 5px;
                }
            }
            .user {
                text-align: right;
                font-size: 16px;
                color: grey;
                margin-right: 15px;
                width: 180px;
                align-self: center;
            }
        }
    }
}

// Create
.page-title {
    font-size: 30px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-top: 20px;
}
.create-item {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    form {
        box-shadow: 5px 5px 10px #888888;
        background-color:  #eee;
        padding: 20px;
        border-radius: 10px;
        width: 40%;
        display: flex;
        flex-direction: column;
        .input {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            input {
                border: 1px solid grey;
                border-radius: 5px;
                padding-left: 10px;
            }
            .file {
                border: none;
                padding-left: 0px;
            }
            .textarea {
                min-height: 70px;
            }
            label {
                font-style: italic;
            }
            select {
                border: 1px solid grey;
                border-radius: 5px;
                padding-left: 5px;
                height: 26px;
            }
            #editor {
                background-color: white;
            }
        }
        .button {
            margin-top: 20px;
            background-color: #0054a6;
            width: 30%;
            align-self: center;
        }
        .button:hover {
            transition: 0.5s;
            background-color: black;
        }
    }
}

.index-container {
    .page-title {
        font-size: 30px;
        text-align: center;
        color: black;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .sort {
        padding: 20px 40px 0px;
        display: flex;
        justify-content: center;
        form {
            display: flex;
            .filter {
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                label {
                    color: grey;
                }
                select {
                    border: 1px solid grey;
                    border-radius: 3px;
                    height: 23px;
                }
            }
            .search {
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                label {
                    color: grey;
                }
                input {
                    padding-left: 5px;
                    height: 23px;
                    border: 1px solid grey;
                    border-radius: 3px;
                }
            }
            .sort-content {
                margin-right: 30px;
            }
            .sort-content .input-radio {
                display: flex;
            }
            .sort-content .input-radio label {
                display: inline-block;
                width: 130px;
                color: grey;
            }
            .sort-content .input-radio .dir {
                display: inline-block;
                width: 50px;
                color: grey;
            }
            .sort-content .input-radio input {
                align-self: center;
            }
            .submit {
                align-self: flex-end;
                margin-left: 20px;
                button {
                    width: 105px;
                }
            }
        }
        .reset {
            // align-self: center;
            margin-left: 20px;
            a {
                display: inline-block;
                padding: 5px 16.5px;
                margin-top: 15px;
                width: 105px;
            }
        }
    }
    .items-list {
        padding: 0px 40px 20px;
        .row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid #ccc;
            padding: 20px 0;
            .user-info {
                display: flex;
                .title {
                    font-size: 18px;
                    color: black;
                    padding-right: 10px;
                    width: 200px;
                    span {
                        color: gray;
                        font-style: italic;
                        font-size: 12px;
                        display: flex;
                        flex-direction: column;
                    }
                }
                .title:hover {
                    span {
                        transition: 0.5s;
                        color: black;
                    }
                }
                .photo {
                    align-self: center;
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                    margin-left: 30px;
                }
            }
            .buttons {
                align-self: center;
                .edit {
                    width: 78px;
                    margin-bottom: 10px;
                    a {
                        display: inline-block;
                        width: 100%;
                    }
                }
                form {
                    .button {
                        background-color: #0054a6;
                        width: 78px;
                    }
                    .button:hover {
                        transition: 0.5s;
                        background-color: darkred;
                    }
                }
            }
        }
    }
}
.pagination {
    nav {
        .hidden {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 20px;
            div p {
                display: none;
            }
        }
    }
}

// messages
.messages {
    .success {
        .success-message{
            padding: 20px 20px;
            background-color: #3ba542;
            display: inline-block;
            width: 100%;
            text-align: center;
            color: black;
            box-shadow: 5px 5px 10px #888888;
        }
        .info-message{
            padding: 20px 20px;
            background-color: #f5f389;
            display: inline-block;
            width: 100%;
            text-align: center;
            color: black;
            box-shadow: 5px 5px 10px #888888;
        }
    }
    .errors {
        .error-message {
            padding: 20px 20px;
            background-color: rgb(197, 84, 84);
            display: inline-block;
            width: 100%;
            text-align: center;
            color: black;
            box-shadow: 5px 5px 10px #888888;
        }
    }
}

@media (max-width: 1000px) {
    .create-item form {
        width: 60%;
    }
}

@media (max-width: 1020px) {
    .welcome {
        .welcome-section {
            width: 90%;
        }
    }
    .navbar .navbar-content .right .user {
        display: none;
    }
}

@media (max-width: 860px) {
    .navbar {
        height: 80px;
        .navbar-content {
            .left {
                justify-content: space-between;
                .create {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: 50%
                }
                .list {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: 50%
                }
                .menu-option:hover {
                    border-bottom: none;
                }
            }
            .right {
                align-self: center;
            }
        }
    }
    .create-item form {
        width: 70%;
    }
}
@media (max-width: 740px) {
    .index-container {
        .sort {
            flex-direction: column;
            form {
                flex-direction: column;
                .filter {
                    width: 70%;
                }
                .search {
                    margin-bottom: 20px;
                    width: 70%;
                }
                .sort-content {
                    margin: 10px 0px;
                }
                .submit {
                    align-self: flex-start;
                    margin: 0;
                }
            }
            .reset {
                margin: 0;
            }
        }
        .items-list {
            .user-info {
                .title {
                    width: unset!important;
                }
            }
        }
    }
}

@media (max-width: 630px) {
    .navbar {
        height: 130px;
        .navbar-content {
            .left {
                flex-direction: column;
                .create {
                    width: 100%;
                    text-align: left;
                }
                .list {
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
    .page-title {
        font-size: 20px;
    }
    .create-item form {
        width: 100%;
    }
    .index-container {
        .items-list {
            .row {
                .user-info {
                    flex-direction: column;
                    .photo {
                        align-self: unset;
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .navbar {
        height: 92px;
        .navbar-content {
            padding: 10px 20px;
            .right {
                flex-direction: column;
                .language{
                    padding-bottom: 5px;
                    .lt {
                        padding: 0 0px 0 5px;
                    }
                }
            }    
        }
    }
    .menu-option {
        font-size: 12px;
    }
    .index-container {
        .sort {
            form {
                .filter {
                    width: 100%;
                }
                .search {
                    width: 100%;
                }
            }
        }
    }
}